/* header */
.banner {
  padding-inline: 1rem;
  display: flex;
  gap: 80px;
  place-content: left;
  z-index: 1;

  /* 1. Få elementerne til at stå ved siden af hinanden og brug justify-content til at skubbe dem væk fra hinanden */
}

.main-menu ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 10px;
}

.logo {
  max-width: 110px;
  margin-left: 20px;
}

a {
  font-size: 1.2rem;
}

.toggle-btn {
  color: var(--primary-color);
  width: auto;
  height: 100%;
  margin-left: 150px;
}

.h1_left {
  text-align: center;
  font-size: 4rem;
}
.h2_left {
  text-align: center;
  font-size: 3rem;
}

/*.grid_designere {
  margin-top: 50px;
  margin-bottom: 50px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
}*/

/*HOVER EFFEKT */

@media (min-width: 700px) {
  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    margin-top: 40px;
    padding-inline: 120px;
    padding-bottom: 2rem;
  }

  .designere {
    padding-inline: 4rem;
    padding-block: 2rem;
    margin-top: 20px;
  }
  .menu {
    padding-top: 2rem;
  }
}

.designere {
  padding: 2rem;
  margin-top: 20px;
}

.img_wrapper {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.img_wrapper > img {
  display: block;
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  object-position: center;
}

.img_wrapper > .content {
  position: absolute;
  inset: 0;
  padding: 2rem;
  padding-top: 8rem;
  background: rgba(8, 11, 70, 0.7);
  color: white;
  /*display: flex;*/
  text-align: center;
}

.img_wrapper > img,
.img_wrapper > .content {
  transition: 200ms ease-in-out;
}

.img_wrapper > .content.fade {
  opacity: 0;
}

.img_wrapper:hover > .content.fade {
  opacity: 1;
}

.hover_h2 {
  color: white;
}
