.designere {
  padding-inline: 4rem;
  padding-block: 2rem;
  margin-top: 20px;
}

.h1_left {
  text-align: left;
  text-decoration: overline;
}

/*.grid_designere {
  margin-top: 50px;
  margin-bottom: 50px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
}*/

/*HOVER EFFEKT*/

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  margin-top: 60px;
  gap: 10px;
}

.img_wrapper {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.img_wrapper > img {
  display: block;
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  object-position: center;
}

.img_wrapper > .content {
  position: absolute;
  inset: 0;
  padding: 2rem;
  padding-top: 8rem;
  background: rgba(8, 11, 70, 0.7);
  color: white;
  /*display: flex;*/
  text-align: center;
}

.img_wrapper > img,
.img_wrapper > .content {
  transition: 200ms ease-in-out;
}

.img_wrapper > .content.fade {
  opacity: 0;
}

.img_wrapper:hover > .content.fade {
  opacity: 1;
}

.hover_h2 {
  color: white;
}
